{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h2 class="display-4">Hashtag viewer</h2>
  <p class="lead">
    Here are the top {{ num_records }} words found, with the {{ num_sentences }} example sentences.
  </p>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Word</th>
        <th>Count</th>
        <th>Documents</th>
        <th>Sentences</th>
      </tr>
    </thead>
    <tbody>
      {% for word, data in words %}
      <tr>
        <td>{{ word }}</td>
        <td>{{ data.count }}</td>
        <td>
          {% for doc in data.docs %}
            {{ doc }} {% if not forloop.last %} , {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for sentence in data.sentences %}
            {% if forloop.counter0 < num_sentences %}
              {{ sentence }}<br><br>
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
