{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h2 class="display-4">Hashtag viewer</h2>
  <p class="lead">
    Welcome to the hastag viewer. Click the button to view the hashtag data.
  </p>
  <a class="btn btn-primary btn-lg" href="{% url 'view_data' %}">View data</a>
</div>
{% endblock %}
